<div class="container-fluid">
    
    <div class="row headerBar">
        <div class="col-sm-12 header">
            <h3 class="headerText">Section 3: My partner's risk factors</h3>
        </div>
    </div><!-- .row -->
    
    <div class="row">
        <a href="/"><div class="col-xs-2 col-md-1 escapeBar"><div class="escapeDiv"><h1>EMERGENCY ESCAPE</h1></div></div></a>
        <div class="col-xs-10 col-md-11">
            <div class="bodyContent">
                <!--<br>-->
                <div class="line_item_1">
                    <fieldset class="standard">
                        <div class="row">
                            <div class="col-xs-9">
                                <h5>Parental Abuse</h5>
                                <p>One or both of my partner's parents abused the other.</p> 
                                </div>
                            <!--<div class="col-xs-1"></div>-->
                            <div class="col-xs-1">
                                <input type="checkbox" id="cb131" ng-model="OneThreeCtrl.cbs1q31" ng-change="cbChange(OneThreeCtrl.cbs1q31, 'cbs1q31')" ng-true-value="2" ng-false-value="-2" ng-checked="OneThreeCtrl.cbs1q31 == 2">
                                <!-- ng-true-value and ng-false-value are the ones that set the values to the service, the fact that the false value is negative is because it will be taken away from the totals when checkbox is unchecked  -->
                                <label for="cb131"></label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <!-- The ng-checked property is used when reading the status of the checkbox from the service, if it retrieves a positive value it means the checkbox should be checked, otherwise is unchecked (as by default) -->
                
                <div class="line_item_2">
                    <fieldset class="standard">
                        <div class="row">
                            <div class="col-xs-9"> 
                                <h5>Child Abuse</h5>
                                <p>My partner's parent(s) abused them or their sibling.</p> 
                                </div>
                            <!--<div class="col-xs-1"></div>-->
                            <div class="col-xs-1">
                                <input type="checkbox" id="cb132" ng-model="OneThreeCtrl.cbs1q32" ng-change="cbChange(OneThreeCtrl.cbs1q32, 'cbs1q32')" ng-true-value="3" ng-false-value="-3" ng-checked="OneThreeCtrl.cbs1q32 == 3">
                                <label for="cb132"></label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <!-- The ng-checked property is used when reading the status of the checkbox from the service, if it retrieves a positive value it means the checkbox should be checked, otherwise is unchecked (as by default) -->
                
                <div class="line_item_3">
                    <fieldset class="standard">
                        <div class="row">
                            <div class="col-xs-9">
                                <h5>Phsyical Discipline</h5>
                                <p>My partner experienced physical discipline as a child.</p>

                                </div>
                            <!--<div class="col-xs-1"></div>-->
                            <div class="col-xs-1">
                                <input type="checkbox" id="cb133" ng-model="OneThreeCtrl.cbs1q33" ng-change="cbChange(OneThreeCtrl.cbs1q33, 'cbs1q33')" ng-true-value="2" ng-false-value="-2" ng-checked="OneThreeCtrl.cbs1q33 == 2">
                                <label for="cb133"></label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <!-- The ng-checked property is used when reading the status of the checkbox from the service, if it retrieves a positive value it means the checkbox should be checked, otherwise is unchecked (as by default) -->
              
                <div class="line_item_4">
                    <fieldset class="standard">
                        <div class="row">
                            <div class="col-xs-9"> 
                                <h5>Abusive Relationships</h5>
                                <p>My partner says they had an abusive partner.</p>
                                </div>
                            <!--<div class="col-xs-1"></div>-->
                            <div class="col-xs-1">
                                <input type="checkbox" id="cb134" ng-model="OneThreeCtrl.cbs1q34" ng-change="cbChange(OneThreeCtrl.cbs1q34, 'cbs1q34')" ng-true-value="3" ng-false-value="-3" ng-checked="OneThreeCtrl.cbs1q34 == 3">
                                <label for="cb134"></label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <!-- The ng-checked property is used when reading the status of the checkbox from the service, if it retrieves a positive value it means the checkbox should be checked, otherwise is unchecked (as by default) -->
                <div class="line_item_5">
                    <fieldset class="standard">
                        <div class="row">
                            <div class="col-xs-9"> 
                                <h5>Abusive Behaviors</h5>
                                <p>My partner has admitted to violence with a past partner.</p> 
                                </div>
                            <!--<div class="col-xs-1"></div>-->
                            <div class="col-xs-1">
                                <input type="checkbox" id="cb135" ng-model="OneThreeCtrl.cbs1q35" ng-change="cbChange(OneThreeCtrl.cbs1q35, 'cbs1q35')" ng-true-value="3" ng-false-value="-3" ng-checked="OneThreeCtrl.cbs1q35 == 3">
                                <label for="cb135"></label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                
            </div><!-- .bodyContent -->
            <br>
                        <button class="btn btn-default btn-lg btn-quiz" ng-click="OneThreeCtrl.scrollUp()"><a href="/1/4">Next</a></button>
                <br>
        </div>
        <!-- .col-xs-10 -->
    </div>
    <!-- .row -->
</div>
<!-- .container-fluid -->
