<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 header">
            <h3 class="headerText">Find Local resources</h3>
        </div>
    </div>
    <!-- .row -->
    <div class="row">
        <a href="/"><div class="col-xs-2 escapeBar"><div class="escapeDiv"><h1>EMERGENCY ESCAPE</h1></div></div></a>
        <div class="col-xs-10">
            <div class="bodyContent">
                <br>
                <div class="searchArea">
                    <div class="searchContainer">
                        <input type="text" ng-model="LCCtrl.testCasing" autofocus height="20px" placeholder="Enter your City">
                    </div>
                    <div class="searchResults">
                        <ul ng-repeat="city in citiesList | filter: LCCtrl.testCasing | limitTo: 1">
                            <li>
                                
                                <div class="addressData" ng-show="LCCtrl.testCasing.length">
                                    
                                    <h4>{{city.resource.name}}</h4>
                                    <p>{{city.resource.address.street}}</p>
                                    <p>{{city.resource.address.city}}, {{city.resource.address.state}}</p>
                                    <p>Phone: {{city.resource.phone}}</p>
                                    <p>Office Phone: <a ng-href="tel:{{city.resource.office}}">{{city.resource.office}}</a></p>
                                    <p>Hotline: <a ng-href="tel:{{city.resource.hotline}}">{{city.resource.hotline}}</a></p>
                                    <p>email 1: <a ng-href="mailTo:{{city.resource.email1}}">{{city.resource.email1}}</a></p>
                                    <p>email 2: <a ng-href="mailTo:{{city.resource.email2}}">{{city.resource.email2}}</a></p>
                                    <p>Website: <a ng-href="http://{{city.resource.website}}">{{city.resource.website}}</a></p>
                                    
                                    
                                    
                                    
                                </div>
                            </li>
                        </ul>
                        
                    </div>
                    
                </div>
                
                
                <br>
            </div>
            <!-- .bodyContent -->
            <next-button></next-button> <!-- angular directive -->
        </div>
        <!-- .col-xs-10 -->
    </div>
    <!-- .row -->
</div>
<!-- .container-fluid -->