<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 header">
            <h3 class="headerText">Find Local resources</h3>
        </div>
    </div>
    <!-- .row -->
    <div class="row">
        <div class="col-xs-2 escapeBar">
            <h1>EMERGENCY</h1>
        </div>
        <div class="col-xs-10">
            <div class="bodyContent">
                <br>
                <div class="searchArea">
                    <div class="searchContainer">
                        <input type="text" ng-model="LCCtrl.test" autofocus height="20px" placeholder="Enter a City">
                    </div>
                    <div class="searchResults">
                        <ul ng-repeat="city in citiesList.city | filter: LCCtrl.test | limitTo: 1">
                            <li>
                                <div ng-click="LCCtrl.showInfo = !LCCtrl.showInfo"> {{city.city}}</div>
                                <div class="county">
                                    <!--ng-show="TCtrl.showInfo"-->
                                    <p>{{city.county}}</p>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6">
                        <button class="btn"><a href="/1/2">NEXT</a></button>
                    </div>
                    <div class="col-xs-3"></div>
                </div>
                <br>
            </div>
            <!-- .bodyContent -->
        </div>
        <!-- .col-xs-10 -->
    </div>
    <!-- .row -->
</div>
<!-- .container-fluid -->