<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 header">
            <h3 class="headerText">Find Local resources</h3>
        </div>
    </div>
    <!-- .row -->
    <div class="row">
        <a href="/"><div class="col-xs-2 escapeBar"><div class="escapeDiv"><h1>EMERGENCY ESCAPE</h1></div></div></a>
        <div class="col-xs-10">
            <div class="bodyContent">
                <br>
                <div class="searchArea">
                    <div class="searchContainer">
                        <input type="text" ng-model="LCCtrl.testCasing" autofocus height="20px" placeholder="Enter a City">
                    </div>
                    <div class="searchResults">
                        <ul ng-repeat="city in citiesList | filter: LCCtrl.testCasing | limitTo: 1">
                            <li>
                                <div>City: {{city.city}}</div>
                                <div class="addressTitle">
                                    <p>County: </p>
                                    <p>Name: </p>
                                    <p>street: </h3>
                                    <p>City:</p>
                                    <p>State: </p>
                                    <p>phone:</p>
                                    </div>
                                    <div class="addressData">
                                    <p>{{city.county}}</p>
                                    <p>{{city.resource.name}}</p>
                                    <p>{{city.resource.address.street}}</h3>
                                    <p>{{city.resource.address.city}}</p>
                                    <p>{{city.resource.address.state}}</p>
                                    <p>{{city.resource.phone}}</p>
                                </div>
                            </li>
                        </ul>
                        
                    </div>
                    
                </div>
                
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6">
                        <button class="btn btn-default btn-lg btn-quiz"><a href="/1/2">NEXT</a></button>
                    </div>
                    <div class="col-xs-3"></div>
                </div>
                <br>
            </div>
            <!-- .bodyContent -->
        </div>
        <!-- .col-xs-10 -->
    </div>
    <!-- .row -->
</div>
<!-- .container-fluid -->