<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="glyphicon glyphicon-leaf"></span> </button>
            <p class="navbar-brand pull-left" href="/contact"><img id="logo2" src='home/logo2.png' /></p>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav ">
                <li><a href="#event-section">Events <span class="sr-only">(current)</span></a></li>
                <li><a href="#park-section">Parks</a></li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-leaf"></span>Additional Info <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://www.weather.com">Local Weather</a></li>
                        <li><a href="http://www.travelok.com/">Oklahoma Tourism</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a class="two" href="/menu"><span class="glyphicon glyphicon-leaf"></span>  Additional Info</a></li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="container" id="home-section">
    <div class="row home-row">
        <div class="col-md-12 top-bg">
            <h1 id="top-head">We don't remember days,<br> we remember moments.</h1> </div>
    </div>
</div>
<div class="container" id="event-section">
    <div class="row home-row">
        <div class="col-md-12 home-bg">
            <ul>
                <li class="events" ng-repeat="event in activities | orderBy:random | limitTo: 3 ">
                    <h2 ng-hide="{{event.activity == ''}}"><i class="fa fa-angle-double-right aria-hidden="true""></i>  {{event.activity}}</h2>
                    <p ng-hide="{{event.location == ''}}">Location: {{event.location}}</p>
                    <p ng-hide="{{event.hours == ''}}">Hours: {{event.hours}}</p>
                    <p ng-hide="{{event.ages == ''}}">Ages: {{event.ages}}</p>
                    <p ng-hide="{{event.cost == ''}}">Cost: {{event.cost}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container" id="park-section">
    <div class="row home-row">
        <div class="col-md-12 bottom-bg">
            <ul>
                <li class="places" ng-repeat="item in parks | limitTo: 3">
                    <h2 ng-hide="{{item.park == ''}}"><i class="fa fa-angle-double-right aria-hidden="true""></i>  {{item.park}}</h2>
                    <p ng-hide="{{item.location == ''}}">Location: {{item.location}}</p> <img ng-src="{{item.image}}" ng-hide="{{item.image == ''}}" style="width: 100%"> </li>
            </ul>
        </div>
    </div>
</div>