/* 
    COLOR           HEX
    agua            #2ec8a3
    aqua light      #31f4c5
    aqua dark       #2abb98
    aqua for footer #83cbc4
*/
body {
    font-family: 'Roboto', serif;
}
/*h3.headerText {
    font-weight: 500;
    font-size: 0;*//* reset setting from less.css */
/*    font-size: 32px;
}*/
.bodyContent p {
    line-height: 0;
    font-size: 1em;
}/* end of page */
.col-xs-9 {
    line-height: 1.4;
}/* questions */
.header {
  background-color: #8e65ae;
  height: 100px;
}
.headerText {
  margin-top: 0;
  padding-top: 20px;
  font-weight: 400;
  color: white;
}
.escapeBar {
  background-color: #f8686a;
  height: 100vh;
}
.escapeBar h1 {
  position: relative;
  transform: rotate(270deg);
  color: white;
  margin-top: 64vh;
  font-weight: 400;
  white-space: nowrap;
  word-spacing: 25px;
}
.bodyContent {
  margin: 30px 10px 10px 10px;
  /*border: 1px solid blue;*/
}
.bodyContent .line_item_1 .bold,
.bodyContent .line_item_2 .bold,
.bodyContent .line_item_3 .bold,
.bodyContent .line_item_4 .bold,
.bodyContent .line_item_5 .bold {
    line-height: 1px;
    font-size: 26px;
    font-weight: 500;
}
/* preQuiz.partial.html */
.bodyContent .line_item_1 .opaque,
.bodyContent .line_item_2 .opaque,
.bodyContent .line_item_3 .opaque,
.bodyContent .line_item_4 .opaque,
.bodyContent .line_item_5 .opaque,
/* 1-1.partial.html */
.bodyContent .line_item_1 .standard,
.bodyContent .line_item_2 .standard,
.bodyContent .line_item_3 .standard,
.bodyContent .line_item_4 .standard,
.bodyContent .line_item_5 .standard {
    opacity:  .5;
    font-size: 16px;
    font-weight: 400;
}
.col-xs-9 strong {
    padding-right: .5em;
}
.btn {
  background: #2ec8a3;
  background-image: -webkit-linear-gradient(top, #2ec8a3, #2ec8a3);
  background-image: -moz-linear-gradient(top, #2ec8a3, #2ec8a3);
  background-image: -ms-linear-gradient(top, #2ec8a3, #2ec8a3);
  background-image: -o-linear-gradient(top, #2ec8a3, #2ec8a3);
  background-image: linear-gradient(to bottom, #2ec8a3, #2ec8a3);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 1px 1px 3px #666666;
  -moz-box-shadow: 1px 1px 3px #666666;
  box-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 22px;
  padding: 14px 26px 14px 25px;
  text-decoration: none;
}
.btn:hover {
  background: #2ec8a3;
  background-image: -webkit-linear-gradient(top, #2ec8a3, #2abb98);
  background-image: -moz-linear-gradient(top, #2ec8a3, #2abb98);
  background-image: -ms-linear-gradient(top, #2ec8a3, #2abb98);
  background-image: -o-linear-gradient(top, #2ec8a3, #2abb98);
  background-image: linear-gradient(to bottom, #2ec8a3, #2abb98);
  text-decoration: none;
}
.btn a {
    color: #fff;
    text-decoration: none;
}
.footer .container .text-muted,
.footer .container .notify {
    display: block;
}
.footer .container .text-muted {
    color: white;
    font-size: larger;
    padding-top: 18px;
    width: 40%;
}
.footer .container .notify {
    color: #83cbc4;
    padding: 12px 0;
    font-size: larger;
    float: right;
    margin-top: -45px;
    font-weight: 400;
}
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #646464;
}

.footerText {
  color: white;
  margin-top: 15px;
  margin-right: 15px;
  font-size: 1.25em;
}
.text-right {
    color: #83cbc4;
}

/*** custom checkboxes ***/

input[type=checkbox] {
    display:none;
} /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}
input[type=checkbox] + label:before {
    content: "\f096";
} /* unchecked icon */
input[type=checkbox] + label:before {
    letter-spacing: 10px;
} /* space between checkbox and label */
input[type=checkbox]:checked + label:before {
    content: "\f046";
} /* checked icon */
input[type=checkbox]:checked + label:before {
    letter-spacing: 10px;
    color: red;
} /* allow space for check mark */
label {
    font-size: 25px;
}/* adjust size of checkboxes */


ul {
    list-style-type: none;
}

.searchContainer {
    margin: 0 auto;
    text-align: center;
}

.searchResults {
    text-align: center;
    font-size: 1.5em;
}

.searchResults ul {
    padding-left: 0;
    margin-top: 20px;
}

.searchContainer input {
    border: 3px solid green;
    font-size: 1.4em;
}

.searchArea {
    min-height: 200px;
}

.county {
    margin-top: 20px;
}