/* 
    COLOR           HEX
    agua            #2ec8a3
    aqua light      #31f4c5
    aqua dark       #2abb98
    aqua for footer #83cbc4
*/
body {
    font-family: 'Roboto', serif;
}

h4 {
    color: #368EC4;
}

h5 {
    color: #368EC4;
    font-size: 1.15em;
}

.bodyContent p {
    font-size: .9em;
    
}/* end of page */
.col-xs-9 {
    line-height: 1.4;
}/* questions */
.header {
  background-color: #368EC4;
  /*height: 100px;*/
  height: 80px;
}
.headerText {
    max-width: 300px;
    position: absolute;
    left: -375px;
  margin-top: 0;
  padding-top: 15px;
  font-weight: 400;
  color: white;
  animation-name: slideTitle;
  animation-delay: .40s;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
}
.escapeBar {
  background-color: #f8686a;
  height: 84vh;
  margin-top: 70px;
  border-right: 4px solid #337ab7;
}

.escapeDiv{
  position: absolute;
    top: 50%;
    left: 50%;
    transform:  translateX(-51%) translateY(-50%) rotate(270deg);
}

.escapeBar h1 {
  /*position: relative;
  transform: rotate(270deg); */
  color: white;
  /*margin-top: 64vh; */
  font-weight: 400;
  white-space: nowrap;
  word-spacing: 25px;
  
}
.bodyContent {
  margin: 100px 5px 10px 5px;
  /*min-height: 525px;*/
  max-height: 100%;
  color: #777777;
}

/* 1-1.partial.html */
.bodyContent .line_item_1 .standard,
.bodyContent .line_item_2 .standard,
.bodyContent .line_item_3 .standard,
.bodyContent .line_item_4 .standard,
.bodyContent .line_item_5 .standard {
    opacity:  1;
    font-size: 16px;
    font-weight: 400;
}


.menu1{
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 2s;
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
}
.menu2{
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 3s;
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
}
.menu3{
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 4s;
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
}
.menu4 {
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 5s;
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
}
.menu5{
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 6s;
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
}



.col-xs-9 strong {
    padding-right: .5em;
}

.btn-lg a,
a:hover {
    text-decoration: none;
}/* override bootstrap button underline */
.btn-quiz {
    border: none;
    background-color: #368EC4;
    margin-left: 35%;
    margin-right: 30%;
    clear: both;
}
.btn-quiz:hover {
    background-color: #387FAA;
   
}
.btn-quiz a {
    color: white;
}
/* center button, trial and error */
.btn-prequiz {
    margin-left: 30%;
    margin-right: 50%;
}/* center button on prequiz page, trial and error */

.footer .container .text-muted,
.footer .container .notify {
    display: block;
}
.footer .container .text-muted {
    color: white;
    font-size: larger;
    padding-top: 18px;
    width: 40%;
}
.footer .container .notify {
    color: #83cbc4;
    padding: 12px 0;
    font-size: larger;
    float: right;
    margin-top: -45px;
    font-weight: 400;
}
.headerBar {
    z-index: 999;
}
.headerBar,
.footer,
footer {
    display: block;
}
.headerBar,
.footer,
footer {
    position: fixed;
    width: 100%;
}
.footer {
    /*bottom: 0;*/
    height: 60px;
    background-color: #387FAA;
}
.footerText {
  color: white;
  margin-top: 15px;
  margin-right: 15px;
  font-size: 1.1em;
}
p.footerText {
    margin-bottom: 0;
}

.text-right a{
    color: #F8F676;
}

/*** custom checkboxes ***/

input[type=checkbox] {
    display:none;
} /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}
input[type=checkbox] + label:before {
    content: "\f096";
} /* unchecked icon */
input[type=checkbox] + label:before {
    letter-spacing: 10px;
} /* space between checkbox and label */
input[type=checkbox]:checked + label:before {
    content: "\f046";
} /* checked icon */
input[type=checkbox]:checked + label:before {
    letter-spacing: 10px;
    color: red;
} /* allow space for check mark */
label {
    font-size: 25px;
}/* adjust size of checkboxes */


ul {
    list-style-type: none;
}

.searchContainer {
    margin: 0 auto;
    text-align: center;
}

.searchResults {
    
    font-size: 1.5em;
    margin: 5px;
    min-width: 150px;
    min-height: 230px
}

.searchResults ul {
    padding-left: 0;
}

.searchContainer input {
    border: 3px solid #368EC4;
    font-size: 1.4em;
}

.searchResults p {
     line-height: 1em;
}

.addressData {
    margin-top: 20px;
    margin-left: 2px;
    float: left;
    font-size: .75em;
    max-width: 250px;
}

.bodyContent .line_item_3 p .bold,
.bodyContent .line_item_3 p .bold .wrap {
    display: inline;
}

@media (max-width: 320px) {
    .row .bodyContent {
        font-size: 14px;
        /*color: red;*/        
    }/* quiz line styling */
    .row .line_item_1,
    .row .line_item_2,
    .row .line_item_3,
    .row .line_item_4,
    .row .line_item_5 {
        font-size: 16px;
        /*color: pink;*/
    }/* menu line styling */
}/* change font size to accommodate multiple mobile widths */
@media (min-width: 321px) and (max-width: 375px) {
    .row .bodyContent {
        font-size: 14px;       
    }/* quiz line styling */
    .row .line_item_1,
    .row .line_item_2,
    .row .line_item_3,
    .row .line_item_4,
    .row .line_item_5 {
        font-size: 18px;
    }/* menu line styling */
}/* change font size to accommodate multiple mobile widths */
@media (min-width: 376px) and (max-width: 415px) {
    .row .bodyContent {
        font-size: 16px;
       
    }/* quiz line styling */
    .row .line_item_1,
    .row .line_item_2,
    .row .line_item_3,
    .row .line_item_4,
    .row .line_item_5 {
        font-size: 20px;

    }/* menu line styling */
}/* change font size to accommodate multiple mobile widths */
@media (min-width: 416px) {
    .row .bodyContent {
        font-size: 18px;
        
    }/* quiz line styling */
    .row .line_item_1,
    .row .line_item_2,
    .row .line_item_3,
    .row .line_item_4,
    .row .line_item_5 {
        font-size: 22px;

    }/* menu line styling */
}/* change font size to accommodate multiple mobile widths */

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}/* set up flexbox for sticky footer */
.site-content {
  flex: 1;
}/* sticky footer styling */


.home_menu {
    text-align: center;
    font-size: 22px;
    min-height: 400px;
}/* home page styling */

input:focus {
    outline-width: 0;
}
body {
    width: 100%;
}


@keyframes slideTitle {
    from {left: -300px; opacity: 0;}
    to {left: 20px; opacity: 1;}
}


@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}