<div class="container-fluid">
    
    <div class="row headerBar">
        <div class="col-sm-12 header">
            <h3 class="headerText">Section 2: My risk factors</h3>
        </div>
    </div><!-- .row -->
    
    <div class="row">
    
    <!--<div class="col-xs-1"></div>-->
     <a href="/"><div class="col-xs-2 col-md-1 escapeBar"><div class="escapeDiv"><h1>EMERGENCY ESCAPE</h1></div></div></a>
        <div class="col-xs-10 col-md-11">
            <div class="bodyContent">
                <!--<br>-->
                <div class="line_item_1">
                    <fieldset class="standard">
                        <div class="row">
                            <div class="col-xs-10"> 
                                <h5 class="question_h5">Exposure to Domestic Violence</h5>
                                <p class="question">One or both of my parents abused the other.</p>
                            </div>
                            <div class="col-xs-1"></div>
                            <div class="col-xs-1">
                                <input type="checkbox" id="cb121" ng-model="OneTwoCtrl.cbs1q21" ng-change="cbChange(OneTwoCtrl.cbs1q21, 'cbs1q21')" ng-true-value="2" ng-false-value="-2" ng-checked="OneTwoCtrl.cbs1q21 == 2">
                                <!-- ng-true-value and ng-false-value are the ones that set the values to the service, the fact that the false value is negative is because it will be taken away from the totals when checkbox is unchecked  -->
                                <label for="cb121"></label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                
                <!-- The ng-checked property is used when reading the status of the checkbox from the service, if it retrieves a positive value it means the checkbox should be checked, otherwise is unchecked (as by default) -->
                <!--<br>-->
                <div class="line_item_2">
                    <fieldset class="standard">
                        <div class="row">
                            <div class="col-xs-10"> 
                            <h5 class="question_h5">Childhood Trauma</h5>
                            <p class="question">One or both of my parents abused me or a sibling.</p>
                                </div>
                            <div class="col-xs-1"></div>
                            <div class="col-xs-1">
                                <input type="checkbox" id="cb122" ng-model="OneTwoCtrl.cbs1q22" ng-change="cbChange(OneTwoCtrl.cbs1q22, 'cbs1q22')" ng-true-value="3" ng-false-value="-3" ng-checked="OneTwoCtrl.cbs1q22 == 3">
                                <label for="cb122"></label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                
                <!--<br>-->
                <div class="line_item_3">
                    <fieldset class="standard">
                        <div class="row">
                            <div class="col-xs-10"> 
                                <h5 class="question_h5">History of Abuse</h5>
                                <p class="question">I have been in an abusive relationship before.</p>
                                </div>
                            <div class="col-xs-1"></div>
                            <div class="col-xs-1">
                                
                                <input type="checkbox" id="cb123" ng-model="OneTwoCtrl.cbs1q23" ng-change="cbChange(OneTwoCtrl.cbs1q23, 'cbs1q23')" ng-true-value="1" ng-false-value="-1" ng-checked="OneTwoCtrl.cbs1q23 == 1">
                                <label for="cb123"></label>
                                
                            </div>
                        </div>
                    </fieldset>
                </div>
                
                <!--<br>-->
                <div class="line_item_4">
                    <fieldset class="standard">
                        <div class="row">
                            <div class="col-xs-10"> 
                                <h5 class="question_h5">Isolation</h5>
                                <p class="question">I don't have close relationships outside of my partner.</p>
                                </div>
                            <div class="col-xs-1"></div>
                            <div class="col-xs-1">
                                <input type="checkbox" id="cb124" ng-model="OneTwoCtrl.cbs1q24" ng-change="cbChange(OneTwoCtrl.cbs1q24, 'cbs1q24')" ng-true-value="2" ng-false-value="-2" ng-checked="OneTwoCtrl.cbs1q24 == 2">
                                <label for="cb124"></label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                
                <!--<br>-->
                <div class="line_item_5">
                    <fieldset class="standard">
                        <div class="row">
                            <div class="col-xs-10"> 
                                <h5 class="question_h5">Unemployment</h5>
                                <p class="question">I'm not currently employed.</p>
                                </div>
                            <div class="col-xs-1"></div>
                            <div class="col-xs-1">
                                <input type="checkbox" id="cb125" ng-model="OneTwoCtrl.cbs1q25" ng-change="cbChange(OneTwoCtrl.cbs1q25, 'cbs1q25')" ng-true-value="2" ng-false-value="-2" ng-checked="OneTwoCtrl.cbs1q25 == 2">
                                <label for="cb125"></label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                
            </div><!-- .bodyContent -->
            <br>
            <button class="btn btn-default btn-lg btn-quiz" ng-click="OneTwoCtrl.scrollUp()"><a href="/1/3">Next</a></button>
            <br>
        </div>
        <!-- .col-xs-10 -->
    </div>
    <!-- .row -->
</div>
<!-- .container-fluid -->
